# Dependencies
node_modules/

# SvelteKit local development folder
.svelte-kit/

# Build output
build/
dist/

# Env files (Keep your secrets secret!)
.env
*.env.local

# OS Metadata
.DS_Store
Thumbs.db