:global(body) {
    margin: 0;
    background: #0f0f0f;
    color: white;
    font-family: sans-serif;
}

:global(::-webkit-scrollbar) {
    width: 8px;
}

:global(::-webkit-scrollbar-thumb) {
    background: #444;
    border-radius: 10px;
}